.header {
  position: fixed;
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  margin: 20px auto;
  left: 50%;
  top: 10px;
  width: 80%;
  padding: 10px 40px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
  transform: translate(-50%, 0%);
  z-index: 9999999;
}
.header img {
  width: 35px;
  cursor: pointer;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.header .logo {
  color: #333;
  font-size: 1.25em;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  letter-spacing: 0.1em;
}
.header .group {
    display: flex;
    align-items: center;
}
.header ul {
    position: relative;
    display: flex;
    gap: 30px;
}
.header ul li {
    list-style: none;
}
.header ul li a {
    position: relative;
    font-size: 1em;
    color: #333;
    letter-spacing: 0.065em;
    display: flex;
    gap: 5px;
}
.header ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
.header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
